@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/* ==========================================================================
   Variables
   ========================================================================== */

:root {

  /* --- Colors --- */

  --light-blue-100: 199, 84%, 55%; /* #2bb0ed */
  --light-blue-500: 202, 83%, 41%; /* #127fbf */
  --light-blue-900: 204, 96%, 27%; /* #035388 */

  --blue-100:       210, 22%, 49%; /* #627d98 */
  --blue-500:       209, 34%, 30%; /* #334e68 */
  --blue-900:       209, 61%, 16%; /* #102a43 */

  --gray-100:       210, 36%, 96%; /* #f0f4F8 */
  --gray-300:       212, 33%, 89%; /* #d9e2ec */
  --gray-500:       210, 31%, 80%; /* #bcccdc */
  --gray-700:       211, 27%, 70%; /* #9fb3c8 */
  --gray-900:       209, 23%, 60%; /* #829ab1 */

  --white:          0, 0%, 100%;   /* #ffffff */

  /* --- Typography --- */

  --font-family-sans-serif: "Montserrat", sans-serif;

  /* --- Layout --- */

  --space-multiplier:  0.8;

  --content-max-width: 140rem;

  --grid-spacer-width: 1.5rem;
  --grid-column-count: 12;

}

/**
 * 1. Now add `border-box` to `html`, which will cascade down through all
 *    elements, but leaves box-sizing easy to overwrite on a parent component
 *
 *    https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 *
 * 2. Set `html` font size to 62.5%, equal to 10px or 1rem
 *
 *    https://css-tricks.com/accessible-font-sizing-explained/
 *
 * 3. Set up full viewport height for sticky footer
 * 4. Prevent font size adjustment after orientation change in iOS
 */

:focus-visible {
  outline: hsl(var(--light-blue-900)) auto 1px;
  outline-offset: 0;
}

/* ==========================================================================
   Accessibility
   ========================================================================== */

/* Visibility
   ========================================================================== */

/**
 * Visually hidden class
 *
 * Hides content to visual users, but leaves it accessible to screen reader
 * users. The combination of these properties will ensure that the element
 * is truly hidden and not getting smushed in the corner of the screen.
 *
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

/* ==========================================================================
   CSS Flex
   ========================================================================== */

/* Flex Parent
   ========================================================================== */

/**
 * These classes are named in the format `{breakpoint}:flex-{property}`
 *
 * Where `{breakpoint}` is one of sm, md, or lg
 *
 * Where `{property}` is one of:
 *    row
 *    row-reverse
 *    column
 *    column-reverse
 *    wrap
 *    wrap-reverse
 *    wrap-nowrap
 */

.flex-column-reverse {
  flex-direction: column-reverse;
}

@media only screen and (min-width: 640px) {
  .sm\:flex-row {
    flex-direction: row;
  }
}

/* Flex Children
   ========================================================================== */

/**
 * These classes are named in the format `{breakpoint}:flex-{property}`
 *
 * Where `{breakpoint}` is one of sm, md, or lg
 *
 * Where `{property}` is one of:
 *    1 - Allows the flex item the grow and shrink, 0% basis
 *    auto - Allows the flex item to grow and shrink, auto basis
 *    initial - Allows the flex item to shrink but not grow, auto basis
 *    none - Prevents the flex item from growing or shrinking
 */

.flex-1 {
  flex: 1 1 0%;
}

/* ==========================================================================
   CSS Grid
   ========================================================================== */

/* Grid Children
   ========================================================================== */

/**
 * These classes are named in the format `{breakpoint}:col-{count}`
 *
 * Where `{breakpoint}` is one of sm, md, or lg
 *
 * Where `{count}` is a number 1 - 6
 */

@media only screen and (min-width: 640px) {

  .sm\:grid-col-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* ==========================================================================
   CSS Layout
   ========================================================================== */

/* Alignment (Parent)
   ========================================================================== */

.justify-center {
  justify-content: center;
}

.align-items-start {
  align-items: start;
}

.align-items-center {
  align-items: center;
}

@media only screen and (min-width: 640px) {

  .sm\:justify-end {
    justify-content: end;
  }
}

/* ==========================================================================
   Display
   ========================================================================== */

/**
 * These classes are named in the format `{breakpoint}:d-{value}`
 *
 * Where `{breakpoint}` is one of sm, md, or lg
 *
 * Where `{value}` is one of:
 *    none
 *    inline
 *    inline-block
 *    block
 *    flex
 *    inline-flex
 */

.d-block {
  display: block;
}

.d-flex {
  -moz-column-gap: calc(var(--grid-spacer-width) * 2);
       column-gap: calc(var(--grid-spacer-width) * 2);
  display: flex;
}

@media only screen and (min-width: 640px) {
  .sm\:d-none {
    display: none;
  }

  .sm\:d-grid {
    -moz-column-gap: calc(var(--grid-spacer-width) * 2);
         column-gap: calc(var(--grid-spacer-width) * 2);
    display: grid;
  }
}

/* ==========================================================================
   Typography
   ========================================================================== */

/* Paragraphs
   ========================================================================== */

/* p {
  font-size: 1.4rem;
  margin: 0;
}

* + p {
  margin-top: 1.25em;
}

@media only screen and (min-width: 940px) {
  p {
    font-size: 1.6rem;
  }
} */

/* Lists
   ========================================================================== */

/* ul {
  font-size: 1.4rem;
  margin: 0;
}

* + ul {
  margin-top: 1.25em;
}

li + li {
  margin-top: 0.5em;
}

@media only screen and (min-width: 940px) {
  ul {
    font-size: 1.6rem;
  }
} */

/* Links
   ========================================================================== */

/* ==========================================================================
   Forms
   ========================================================================== */

:root {

  --form-accent-color: var(--light-blue-500);
  --form-error-color: 356, 75%, 53%; /* #e12d39 */

  /* --- Fields --- */

  --field-background-color: hsl(var(--white));
  --field-border-width: 1px;
  --field-border-style: solid;
  --field-border-color: hsl(var(--gray-500));
  --field-border: var(--field-border-width)
    var(--field-border-style)
    var(--field-border-color);
  --field-border-radius: 3px;
  --field-height: 3.46rem;
  --field-padding: 0 calc(var(--space-multiplier) * 2rem);
  --field-text-color: hsl(var(--blue-900));
  --field-text-font-family: var(--font-family-sans-serif);
  --label-text-font-size: 1em;
  --field-text-font-weight: 500;
  --field-text-letter-spacing: 0.05em;

  /* --- Labels --- */

  --label-text-color: hsl(var(--blue-900));
  --label-text-font-family: var(--font-family-sans-serif);
  --label-text-font-size: 1em;
  --label-text-font-weight: 600;
  --label-text-letter-spacing: 0.05em;

  /* --- Error Text ---*/

  --error-text-color: hsl(var(--form-error-color));
  --error-text-font-family: var(--font-family-sans-serif);
  --error-text-font-size: 1rem;
  --error-text-font-weight: 500;
  --error-text-letter-spacing: 0.05em;

}

@media only screen and (min-width: 640px) {
  /* :root {
    --field-height: 4.6rem;
  } */
}

/* Fieldset
   ========================================================================== */

.tip-app-content fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Labels
   ========================================================================== */

.tip-app-content label,
.tip-app-content legend {
  color: var(--label-text-color);
  font-family: var(--label-text-font-family);
  font-size: var(--label-text-font-size);
  font-weight: var(--label-text-font-weight);
  display: block;
  letter-spacing: var(--label-text-letter-spacing);
  line-height: 1.6;
  /* padding-bottom: calc(var(--space-multiplier) * 1rem); */
  position: relative;
  padding: 12px 20px;
  cursor: pointer;
}

.tip-app-content label > [data-required="true"]::after {
  color: hsl(var(--form-error-color));
  content: "*";
  padding-left: 0.25em;
  position: absolute;
}

/* Fields
   ========================================================================== */

.tip-app-content [type="date"],
.tip-app-content [type="text"],
.tip-app-content select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  background-color: var(--field-background-color);
  border: var(--field-border);
  border-radius: var(--field-border-radius);
  color: var(--field-text-color);
  display: block;
  font-family: var(--field-text-font-family);
  font-size: var(--field-text-font-size);
  font-weight: var(--field-text-font-weight);
  letter-spacing: var(--field-text-letter-spacing);
  width: 100% !important;
}

.tip-app-content  [type="date"],
.tip-app-content [type="text"],
.tip-app-content select {
  line-height: var(--field-height);
  padding: var(--field-padding);
}

.tip-app-content select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='hsl(0, 0%, 13%)' d='M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 2rem center;
  background-size: 0.7em auto;
  padding-right: 5rem;
}

/* --- Checkbox and Radio --- */

.form__choice-wrapper {
  --label-text-font-weight: 500;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  display: grid;
  grid-template-columns: -webkit-min-content 1fr;
  grid-template-columns: min-content 1fr;
  padding: 0;
}

.form__choice-wrapper + .form__choice-wrapper {
  margin-top: calc(var(--space-multiplier) * 1rem);
}

.tip-app-content [type="radio"],
.tip-app-content [type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  background-color: var(--field-background-color);
  border: var(--field-border);
  color: currentColor;
  font: inherit;
  height: 2rem !important;
  margin: 0;
  width: 2rem !important;
}

.tip-app-content [type="radio"]:focus-visible,
.tip-app-content [type="checkbox"]:focus-visible {
  outline-offset: 4px;
}

.tip-app-content [type="radio"]:checked,
.tip-app-content [type="checkbox"]:checked {
  --field-border-color: transparent;
  --field-border: var(--field-border-width)
    var(--field-border-style)
    var(--field-border-color);
  background-color: hsl(var(--form-accent-color));
}

.tip-app-content [type="radio"] {
  border-radius: 50%;
  display: grid;
  place-content: center;
}

.tip-app-content [type="radio"]::before {
  border-radius: 50%;
  box-shadow: inset 0 0 0 1em var(--field-background-color);
  content: '';
  height: 0.55em;
  width: 0.55em;
}

.tip-app-content [type="checkbox"] {
  border-radius: 3px;
}

.tip-app-content [type="checkbox"]:checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23fff' d='M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1em auto;
}

/* Errors
   ========================================================================== */

/* input[aria-invalid="true"],
select[aria-invalid="true"],
textarea[aria-invalid="true"] {
  --field-border-color: hsl(var(--form-error-color));
  --field-border: var(--field-border-width)
    var(--field-border-style)
    var(--field-border-color);
  --field-text-color: var(--error-text-color);
  box-shadow: 0 0 0 1px hsl(var(--form-error-color));
}

select[aria-invalid="true"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='hsl(356, 75%, 53%)' d='M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z'/%3E%3C/svg%3E");
} */

/* --- Error Text --- */
.form__error-text {
  color: var(--error-text-color);
  font-family: var(--error-text-font-family);
  font-size: var(--error-text-font-size);
  font-weight: var(--error-text-font-weight);
  letter-spacing: var(--error-text-letter-spacing);
  line-height: 1.6;
  margin-top: calc(var(--space-multiplier) * 1rem);
  text-align: center;
}
/* ==========================================================================
   Buttons
   ========================================================================== */

:root {
  --button-background-color: hsl(var(--blue-900));
  --button-border-width: 1px;
  --button-border-style: solid;
  --button-border-color: transparent;
  --button-border: var(--button-border-width)
    var(--button-border-style)
    var(--button-border-color);
  --button-border-radius: 4px;
  --button-height: 4.2rem;
  --button-padding: 0 calc(var(--space-multiplier) * 2rem);
  --button-text-align: center;
  --button-text-color: hsl(var(--white));
  --button-text-decoration: none;
  --button-text-font-family: var(--font-family-sans-serif);
  --button-text-font-size: 1.1rem;
  --button-text-font-weight: 600;
  --button-text-letter-spacing: 0.05em;
  --button-text-shadow: 0 1px hsla(0, 0%, 20%, 0.2);
  --button-line-height: 2.4em;
}

@media only screen and (min-width: 640px) {
  :root {
    --button-height: 4.6rem;
    --button-padding: 0 calc(var(--space-multiplier) * 3rem);
  }
}

.tip-app-content button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  background-color: var(--button-background-color);
  border: var(--button-border);
  border-radius: var(--button-border-radius);
  color: var(--button-text-color);
  display: block;
  font-family: var(--button-text-font-family);
  font-size: var(--button-text-font-size);
  font-weight: var(--button-text-font-weight);
  letter-spacing: var(--button-text-letter-spacing);
  line-height: var(--button-height);
  line-height: var(--button-line-height);
  padding: var(--button-padding);
  text-align: var(--button-text-align);
  -webkit-text-decoration: var(--button-text-decoration);
          text-decoration: var(--button-text-decoration);
  text-shadow: var(--button-text-shadow);
  transition: background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out,
    color 0.2s ease-in-out,
    text-shadow 0.2s ease-in-out;
  white-space: nowrap;
  width: 100%;
}

.tip-app-content button:active {
  transform: translateY(1px);
}

.tip-app-content button:hover,
.tip-app-content button:focus {
  background-color: hsl(var(--light-blue-900));
  color: hsl(var(--white));
}

.tip-app-content button:focus-visible {
  outline-offset: 4px;
}

.tip-app-content button:disabled {
  background-color: hsl(var(--gray-900))!important;;
}

@media only screen and (min-width: 640px) {
  .tip-app-content button {
    display: inline-block;
    vertical-align: top;
    width: auto;
  }
}

/* --- Simple Buttons --- */

.button--simple,
.button--simple:active,
.button--simple:visited {
  background-color: transparent;
  color: hsl(var(--blue-900));
  text-shadow: none;
}

.button--simple:hover,
.button--simple:focus {
  background-color: transparent;
  color: hsl(var(--light-blue-900));
}

/* ==========================================================================
   Container
   ========================================================================== */

.container.tip-app-content {
  max-width: 80rem; /* 800px */
  width: 100%;
}

/* ==========================================================================
   Spacing
   ========================================================================== */

/**
 * These classes are named in the format
 *    `{breakpoint}:{property}{side?s}-{size}`
 *
 * Where `{breakpoint}` is one of sm, md, or lg
 *
 * Where `{property}` is one of:
 *    m - sets margin
 *    p - sets padding
 *
 * Where `{sides}` is one of:
 *    t - sets top only
 *    b - sets bottom only
 *    l - sets left only
 *    r - sets right only
 *    x - sets both left and right
 *    y - sets both top and bottom
 *    blank - sets all four sides
 *
 * Where `{size}` is one of the following as a multiple of 0.8:
 *    0 - sets spacing to 0 * 0.8 (0)
 *    1 - sets spacing to 1 * 0.8 (0.8rem)
 *    2 - sets spacing to 2 * 0.8 (1.6rem)
 *    3 - sets spacing to 3 * 0.8 (2.4rem)
 *    4 - sets spacing to 4 * 0.8 (3.2rem)
 *    5 - sets spacing to 5 * 0.8 (4.0rem)
 *    6 - sets spacing to 6 * 0.8 (4.8rem)
 *    auto - sets spacing to auto (margin only)
 */

.mt-1 {
  margin-top: calc(var(--space-multiplier) * 1rem);
}

.mt-3 {
  margin-top: calc(var(--space-multiplier) * 3rem);
}

.mt-4 {
  margin-top: calc(var(--space-multiplier) * 4rem);
}

.mb-3 {
  margin-bottom: calc(var(--space-multiplier) * 3rem);
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 640px) {

  .sm\:mt-0 {
    margin-top: 0;
  }

  .sm\:mt-3 {
    margin-top: calc(var(--space-multiplier) * 3rem);
  }

  .sm\:mt-5 {
    margin-top: calc(var(--space-multiplier) * 5rem);
  }

  .sm\:mb-5 {
    margin-bottom: calc(var(--space-multiplier) * 5rem);
  }
}

.p-4 {
  padding: calc(var(--space-multiplier) * 4rem);
}

.pt-2 {
  padding-top: calc(var(--space-multiplier) * 2rem);
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

/* ==========================================================================
   Component: Progress Form
   ========================================================================== */

.progress-form {
  background-color: hsl(var(--white));
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgb(0, 0, 0, 10%),
    0 1px 2px -1px rgb(0, 0, 0, 10%);
}

/* Tabs
   ========================================================================== */

.progress-form__tabs {
  -moz-column-gap: 0;
       column-gap: 0;
}

@media only screen and (min-width: 640px) {
  .progress-form__tabs {
    -moz-column-gap: 0.2rem;
         column-gap: 0.2rem;
  }
}

.progress-form__tabs-item {
  --button-background-color: transparent;
  --button-border-width: 5px;
  --button-border-style: solid;
  --button-border-color:  hsl(var(--gray-300));
  --button-border: var(--button-border-width)
    var(--button-border-style)
    var(--button-border-color);
  --button-border-radius: 0;
  --button-height: 1.4;
  --button-text-align: left;
  --button-text-color: hsl(var(--blue-900));
  --button-text-font-size: 1.4rem;
  --button-text-letter-spacing: 0.025em;
  --button-text-shadow: none;

  background-color: var(--button-background-color);
  border: 0;
  border-top: var(--button-border);
  border-radius: var(--button-border-radius);
  color: var(--button-text-color);
  display: none;
  font-size: var(--button-text-font-size);
  letter-spacing: var(--button-text-letter-spacing);
  line-height: var(--button-height);
  position: relative;
  text-align: var(--button-text-align);
  text-shadow: var(--button-text-shadow);
  transition: color 0.2s ease-in-out;
  white-space: normal;
}

.progress-form__tabs-item:active {
  transform: none;
}

.progress-form__tabs-item:hover,
.progress-form__tabs-item:focus {
  background-color: inherit;
  color: inherit;
}

.progress-form__tabs-item::before {
  background-color: hsl(var(--light-blue-500));
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  top: -5px;
  transition: width 0.2s ease-in-out;
  width: 0;
}

.progress-form__tabs-item > .step {
  color: hsl(var(--blue-100));
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: color 0.2s ease-in-out;
}

@media only screen and (min-width: 640px) {
  .progress-form__tabs-item {
    display: block;
  }
}

/* --- Current Step --- */

.progress-form__tabs-item[aria-selected="true"] {
  display: block;
}

.progress-form__tabs-item[aria-selected="true"]::before {
  width: 0%;
}

.progress-form__tabs-item[aria-selected="true"] > .step {
  color: hsl(var(--light-blue-500));
}

/* --- Disabled Step --- */

@media only screen and (min-width: 640px) {
  .progress-form__tabs-item[aria-disabled="true"] {
    --button-background-color: transparent;
    --button-text-color: hsl(var(--blue-100));

    background-color: var(--button-background-color);
    color: var(--button-text-color);
  }
}

/* --- Completed Step --- */


/* added by Rousnay */
.pop-in{
  animation:pop-in .4s ease-out
}
@keyframes pop-in{
  0%{transform:translateY(20px) scale(.8);
    opacity:0
  }
  to{transform:translateY(0) scale(1);
    opacity:1
  }
}

/* custom css */

@font-face {
  font-family: 'Mak';
  src: url(//cdn.shopify.com/s/files/1/0689/0215/8644/files/Mak-Bold.eot?v=17941059008086958540);
  src: url(//cdn.shopify.com/s/files/1/0689/0215/8644/files/Mak-Bold.eot?%23iefix&727) format('embedded-opentype'),
      url(//cdn.shopify.com/s/files/1/0689/0215/8644/files/Mak-Bold.woff2?v=14588553796505663747) format('woff2'),
      url(//cdn.shopify.com/s/files/1/0689/0215/8644/files/Mak-Bold.woff?v=7013477046752323177) format('woff'),
      url(//cdn.shopify.com/s/files/1/0689/0215/8644/files/Mak-Bold.ttf?v=8679741593174555134) format('truetype'),
      url(//cdn.shopify.com/s/files/1/0689/0215/8644/files/Mak-Bold.svg%23Mak-Bold?727) format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.page-container{
  margin-top: 30px;
}

#consultancy-header {
  text-align: center;
  max-width: 800px;
  padding: 30px 30px 0;

  color: #4d2c1e;
}

#consultancy-header h4 {
  margin: 0;
  text-transform: uppercase;
}

#consultancy-header h1 {
  font-family: Mak;
  margin: 10px 0;
}

#consultancy-header p {
  margin: 0;
}

#start-consultancy {
  font-size: 1.2em;
  margin: 20px 0;
  line-height: 2.4em;
  letter-spacing: normal;
  padding: 0 25px;
}

#progress-form {
  box-shadow: none;
  background-color: initial;
  width: 100%;
  max-width: 650px;
  margin-left: auto;
    margin-right: auto;
}

#progress-form legend {
    text-align: center;
}

#progress-form legend ul {
  text-align: left;
  font-weight: 500;
}

#progress-form ul li {
  list-style: disc;
  margin-bottom: 10px;
}

.form__choice-wrapper span {
  font-weight: bold;
}

fieldset .form__choice-wrapper {
  background-color: white;
  padding: 15px 20px;
}

.radio-buttons {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin: 15px auto;
}

.radio-buttons label {
  background-color: white;
  padding: 12px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1em;
}

.check-boxes{
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin: 15px auto;
}

.check-boxes label {
  background-color: white;
  padding: 12px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1em;
}

.tip-app-content legend p {
    font-weight: 700;
    font-size: 1.2em;
    color: #4d2c1e;
}

.tip-app-content label,legend{
  font-weight: normal;
}
.tip-app-content-medical label {
  font-weight: 600;
  padding: 12px 0;
  color: #4d2c1e;
}

.tip-app-content legend p {
  margin-top: 0;
}

.tip-app-content input[type="radio"]:checked,
.tip-app-content [type="checkbox"]:checked {
  background-color: #583223;
}
.progress-form__tabs-item {
  cursor: pointer;
}
.progress-form__tabs-item:hover span.d-block.step {
    font-weight: 700;
    color: #127fbf;
}

.progress-form__tabs {
  display: none;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.tip-app-content button {
  cursor: pointer;
  background-color: #583223;
}
.tip-app-content button:hover, .tip-app-content button:focus {
  background-color:  #702b0f;
}
.button--simple:hover, .button--simple:focus {
    background-color: transparent;
    color: #583223;
}

#progress-form__thank-you{
  text-align: center;
}

section#progress-form__thank-you button {
  margin-top: 30px;
}

#progress-form__thank-you .successful-submit{
  color: #4d2c1e;
}



.consultancy-loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.consultancy-loader h3 {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 1.5em;
  font-size: 1.5em;
}
.consultancy-loader .statusBar {
  width: 100%;
  height: 8px;
  position: relative;
  overflow: hidden;
}
.consultancy-loader .statusBar:before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: -100%;
  will-change: transform;
  background: linear-gradient(90deg,  #0083da 0%,  #0083da 25%, #2cccdb 25%, #2cccdb 37.5%, #afdc5c 37.5%, #afdc5c 50%, #0083da 50%, #0083da 75%, #2cccdb 75%, #2cccdb 87.5%, #afdc5c 87.5%, #afdc5c 100%);
  -webkit-animation: 1.3s progress ease infinite;
          animation: 1.3s progress ease infinite;
}

@-webkit-keyframes progress {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(50%);
  }
}

@keyframes progress {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(50%);
  }
}