<!--
  <span style="color: {{ block.settings.color }}">
  Online ED treatments, discreetly delivered
  </span>

-->

{% render 'tip-assessment-button-content' %}

{% schema %}
{
  "name": "Assessment Button",
  "target": "section",
  "enabled_on": {
    "templates": ["*"]
  },
  "stylesheet": "tip-app.css",
  "settings": [
    {
      "label": "Treatment ID",
      "id" : "treatment_id",
      "type": "number",
      "placeholder": "Enter a treatment ID here"
    },
    {
      "label": "Theme Color",
      "id": "theme_color",
      "type": "color",
      "default": "#583222"
    }
  ]
}
{% endschema %}
