<!--
  <span style="color: {{ block.settings.color }}">
  Online ED treatments, discreetly delivered
  </span>
-->

{% render 'tip-assessment-button-content' %}

{% schema %}
{
  "name": "Assessment Button",
  "target": "section",
  "enabled_on": {
    "templates": ["*"]
  },
  "stylesheet": "tip-app.css",
  "settings": [
    {
      "type": "radio",
      "label": "Treatment Type",
      "id": "treatment_type",
      "options": [
        {
          "label": "OD Medicine (Generic)",
          "value": "od_medicine"
        },
        {
          "label": "OD Medicine (Treatment specific)",
          "value": "od_medicine_with_treatment"
        },
        {
          "label": "OTC Medicine (No condition ID)",
          "value": "otc_medicine"
        },
        {
          "label": "Non-Pharmacy",
          "value": "non_pharmacy"
        }
      ],
      "default": "od_medicine"
    },
    {
      "label": "Condition ID",
      "id": "condition_id",
      "type": "number",
      "placeholder": "Enter a condition ID here"
    },
    {
      "label": "Treatment ID for treatment specific consultation",
      "id": "treatment_id",
      "type": "number",
      "placeholder": "Enter the treatment ID here"
    }
  ]
}
{% endschema %}
