<!-- partial:index.partial.html -->
<div class="mx-auto container page-container tip-app-content">
  <section id="consultancy-header" class="consultancy-loader">
    <h3>Your personalized consultancy is loading...</h3>
    <div class="statusBar">loading..</div>
  </section>

  <!-- <hr> -->

  <!-- Progress Form -->
  <form
    id="progress-form"
    class="p-4 progress-form"
    action="/apps/tip/consultancy/submit"
    lang="en"
    novalidate
  >
    <!-- Step Navigation -->
    <div
      id="progress-form-tabs"
      class="d-flex align-items-start mb-3 sm:mb-5 progress-form__tabs"
      role="tablist"
    ></div>
    <!-- / End Step Navigation -->
  </form>
  <!-- / End Progress Form -->
</div>
<!-- partial -->
<script>
  console.log('TIP Theme Ext Front-end loaded: v1');
</script>
<script src="{{ 'tip-app.js' | asset_url }}" defer></script>
