{{ 'stylesheet' | asset_url | stylesheet_tag }}
<script src="{{ 'javascript' | asset_url }}" defer></script>
<script>
  console.log("TIP App: Theme extension loaded! - 3");
</script>

<h6>
  Test data
</h6>
<br>

<button
  type="submit"
  aria-label="submit"
  name="submit"
  id="submit"
  onclick="testAPI_1()">Submit
</button>

<script type="text/javascript">

  function testAPI_1(){
  (async () => {
            const url = `/apps/tip/check`;
            const method = "POST";
            const response = await fetch(url, {
              method,
              headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
              },
              body: JSON.stringify({
                'treatmentId': "N/A",
                'type': 'NEW',
              }),
            });
            if (response.status === 200) {
              console.log("testAPI_1 Working!");
            } else {
              console.log("Something went wrong with TIP API");
              console.log(response);
            }
          })();
        }</script>