<!-- partial:index.partial.html -->
<div class="mx-auto container page-container tip-app-content">
  <section id="consultancy-header" class="consultancy-loader">
    <h3>Your personalised consultancy is loading...</h3>
    <div class="statusBar"></div>
  </section>

  <!-- <hr> -->

  <!-- Progress Form -->
  <form
    id="progress-form"
    class="p-4 progress-form"
    action="/apps/tip/consultancy/submit"
    lang="en"
    novalidate
  >
    <!-- Step Navigation -->
    <div
      id="progress-form-tabs"
      class="d-flex align-items-start mb-3 sm:mb-5 progress-form__tabs"
      role="tablist"
    ></div>
    <!-- / End Step Navigation -->
  </form>
  <div id="progress-form-status-container">
    <div id="progress-form-status-bar">0%</div>
  </div>
  <!-- / End Progress Form -->
</div>
<!-- partial -->
<style>
  /*  .is-conditional-question {
    display: none;
  }*/
</style>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    console.log('TIP Theme Ext loaded: v73');
  });
  const fullURL = window.location.href;
  const urlParams = new URLSearchParams(window.location.search);
  const urlWithoutParams = fullURL.split('?')[0];
  const getQueryParam = (param) => (urlParams.has(param) ? urlParams.get(param) : '');

  const current_treatment_type = getQueryParam('treatmentType');
  const current_condition_id = getQueryParam('conditionId');
  const current_treatment_id = getQueryParam('treatmentId');
  const current_treatment_form_index = getQueryParam('currentTreatmentFormIndex');

  if (!localStorage.getItem('current_treatment_form_index')) {
    localStorage.setItem('current_treatment_form_index', 0);
  }

  if (!localStorage.getItem('current_assessment_form_type')) {
    if (!!current_condition_id) {
      localStorage.setItem('current_assessment_form_type', 'condition');
    } else {
      localStorage.setItem('current_assessment_form_type', 'treatment');
    }
  }

  localStorage.setItem('treatment_type', current_treatment_type);
  localStorage.setItem('condition_id', current_condition_id);
  localStorage.setItem('treatment_id', current_treatment_id);
</script>
<script src="{{ 'tip-app.js' | asset_url }}" defer></script>
