<!-- partial:index.partial.html -->
<div class="mx-auto container page-container">
  <section id="consultancy-header">
    <h4>Welcome to</h4>
    <h1>Luudhealth Consultancy</h1>
    <p>
      Answer a few quick questions about your general health to get the most effective clinically proven treatments for
      you.
    </p>

    <button type="button" id="start-consultancy">START ASSESSMENT</button>
  </section>

  <!-- <hr> -->

  <!-- Progress Form -->
  <form
    id="progress-form"
    class="p-4 progress-form"
    action="/apps/tip/consultancy/submit"
    lang="en"
    novalidate
  >
    <!-- Step Navigation -->
    <div
      id="progress-form-tabs"
      class="d-flex align-items-start mb-3 sm:mb-5 progress-form__tabs"
      role="tablist"
    ></div>
    <!-- / End Step Navigation -->
  </form>
  <!-- / End Progress Form -->
</div>
<!-- partial -->
<script>
  console.log('TIP App: Theme extension loaded! - 2');
</script>
<script src="{{ 'tip-app.js' | asset_url }}" defer></script>
