{{ 'stylesheet' | asset_url | stylesheet_tag }}
<script src="{{ 'javascript' | asset_url }}" defer></script>
<script>
  console.log('TIP App: Theme extension loaded! - 2');
</script>

<!-- partial:index.partial.html -->
<div class="mx-auto container tip-app-content">
  <!-- Progress Form -->
  <form
    id="progress-form"
    class="p-4 progress-form"
    action="/apps/tip/medical/submit"
    lang="en"
    novalidate
  >
    <!-- Step Navigation -->
    <div class="d-flex align-items-start mb-3 sm:mb-5 progress-form__tabs" role="tablist">
      <button
        id="progress-form__tab-1"
        class="flex-1 px-0 pt-2 progress-form__tabs-item"
        type="button"
        role="tab"
        aria-controls="progress-form__panel-1"
        aria-selected="true"
      >
        <span class="d-block step" aria-hidden="true"
          >Step 1
          <span class="sm:d-none">of 3</span>
        </span>
        Medical
      </button>
      <button
        id="progress-form__tab-2"
        class="flex-1 px-0 pt-2 progress-form__tabs-item"
        type="button"
        role="tab"
        aria-controls="progress-form__panel-2"
        aria-selected="false"
        tabindex="-1"
        aria-disabled="true"
      >
        <span class="d-block step" aria-hidden="true"
          >Step 2
          <span class="sm:d-none">of 3</span>
        </span>
        GP Info
      </button>
      <button
        id="progress-form__tab-3"
        class="flex-1 px-0 pt-2 progress-form__tabs-item"
        type="button"
        role="tab"
        aria-controls="progress-form__panel-3"
        aria-selected="false"
        tabindex="-1"
        aria-disabled="true"
      >
        <span class="d-block step" aria-hidden="true"
          >Step 3
          <span class="sm:d-none">of 3</span>
        </span>
        Personal
      </button>
    </div>
    <!-- / End Step Navigation -->

    <!-- Step 1 -->
    <section
      id="progress-form__panel-1"
      role="tabpanel"
      aria-labelledby="progress-form__tab-1"
      tabindex="0"
    >
      <div class="sm:d-grid sm:grid-col-2 sm:mt-3">
        <div class="mt-3 sm:mt-0 form__field">
          <label for="salutation">
            Salutation
            <span data-required="true" aria-hidden="true"></span>
          </label>
          <select
            id="salutation"
            name="salutation"
            required
          >
            <option
              value=""
              disabled
              selected
            >
              Please select
            </option>
            <option value="Mr">Mr</option>
            <option value="Mrs">Mrs</option>
            <option value="Ms">Ms</option>
            <option value="Miss">Miss</option>
            <option value="Dr">Dr</option>
            <option value="Mx">Mx</option>
            <option value="n/a">n/a</option>
          </select>
        </div>

        <div class="mt-3 sm:mt-0 form__field">
          <label for="phone">
            Tel Number (in case our team need to discuss your prescription)
            <span data-required="true" aria-hidden="true"></span>
          </label>
          <input
            id="phone"
            type="text"
            name="phone"
            placeholder="Your phone number"
            required
          >
        </div>
      </div>

      <div class="sm:d-grid sm:grid-col-2 sm:mt-3">
        <div class="mt-3 sm:mt-0 form__field">
          <label for="dob">
            Date of birth
            <span data-required="true" aria-hidden="true"></span>
          </label>
          <input
            id="dob"
            type="date"
            name="dob"
            required
          >
        </div>

        <div class="mt-3 sm:mt-0 form__field">
          <label for="gender">
            Sex (assingned at birth)
            <span data-required="true" aria-hidden="true"></span>
          </label>
          <select
            id="gender"
            name="gender"
            required
          >
            <option
              value=""
              disabled
              selected
            >
              Please select
            </option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="male-identifies-female">Male Identifies Female</option>
            <option value="female-identifies-male">Female Identifies Male</option>
          </select>
        </div>
      </div>

      {% comment %}
        <div class="sm:d-grid sm:grid-col-2 sm:mt-3">
          <div class="mt-3 sm:mt-0 form__field">
            <label for="weight"> Weight (kg) </label>
            <input
              id="weight"
              type="text"
              name="weight"
              placeholder="Optional"
            >
          </div>

          <div class="mt-3 sm:mt-0 form__field">
            <label for="height"> Height </label>
            <input
              id="height"
              type="text"
              name="height"
              placeholder="Optional"
            >
          </div>
        </div>

        <div class="mt-3 form__field">
          <label class="form__choice-wrapper">
            <input
              id="email-newsletter"
              type="checkbox"
              name="email-newsletter"
              value="Yes"
            >
            <span>
              <strong>I am Pregnant!</strong>
            </span>
          </label>
        </div>

        <div class="mt-3 form__field">
          <label for="pregnancy_detail"> Pregnancy detail </label>
          <textarea
            id="pregnancy_detail"
            name="pregnancy_detail"
            rows="5"
          ></textarea>
        </div>
      {% endcomment %}

      <div class="d-flex align-items-center justify-center sm:justify-end mt-4 sm:mt-5">
        {% comment %} <button type="button" data-action="next">Continue</button> {% endcomment %}
        <button type="submit">Submit</button>
      </div>
    </section>
    <!-- / End Step 1 -->

    <!-- Step 2 -->
    {% comment %}
      <section
        id="progress-form__panel-2"
        role="tabpanel"
        aria-labelledby="progress-form__tab-2"
        tabindex="0"
        hidden
      >
        <div class="mt-3 form__field">
          <label for="gp_name"> Name of the GP surgery </label>
          <input
            id="gp_name"
            type="text"
            name="gp_name"
          >
        </div>

        <div class="mt-3 form__field">
          <label for="address"> Address </label>
          <input
            id="address"
            type="text"
            name="address"
            autocomplete="shipping address-line1"
          >
        </div>

        <div class="mt-3 form__field">
          <label for="address-2"> Apartment or suite (optional) </label>
          <input
            id="address-2"
            type="text"
            name="address-2"
            autocomplete="shipping address-line2"
          >
        </div>

        <div class="sm:d-grid sm:grid-col-3 sm:mt-3">
          <div class="mt-3 sm:mt-0 form__field">
            <label for="address-city"> City </label>
            <input
              id="city"
              type="text"
              name="city"
              autocomplete="shipping address-level2"
            >
          </div>

          <div class="mt-3 sm:mt-0 form__field">
            <label for="address-country"> Country </label>
            <input
              id="country"
              type="text"
              name="country"
            >
          </div>

          <div class="mt-3 sm:mt-0 form__field">
            <label for="address-zip"> Postal code </label>
            <input
              id="zip"
              type="text"
              name="zip"
              autocomplete="shipping postal-code"
              inputmode="numeric"
            >
          </div>
        </div>

        <div class="d-flex flex-column-reverse sm:flex-row align-items-center justify-center sm:justify-end mt-4 sm:mt-5">
          <button
            type="button"
            class="mt-1 sm:mt-0 button--simple"
            data-action="prev"
          >
            Back
          </button>
          <button type="button" data-action="next">Continue</button>
        </div>
      </section>
      <!-- / End Step 2 -->

      <!-- Step 3 -->
      <section
        id="progress-form__panel-3"
        role="tabpanel"
        aria-labelledby="progress-form__tab-3"
        tabindex="0"
        hidden
      >
        <div class="mt-3 form__field">
          <label for="product-feedback"> Do you have any additional feedback or comments about our products? </label>
          <textarea
            id="product-feedback"
            name="product-feedback"
            rows="5"
          ></textarea>
        </div>

        <div class="d-flex flex-column-reverse sm:flex-row align-items-center justify-center sm:justify-end mt-4 sm:mt-5">
          <button
            type="button"
            class="mt-1 sm:mt-0 button--simple"
            data-action="prev"
          >
            Back
          </button>
          <button type="submit">Submit</button>
        </div>
      </section>
    {% endcomment %}
    <!-- / End Step 3 -->

    <!-- Thank You -->
    <section id="progress-form__thank-you" hidden>
      <p>Thank you for your submission!</p>
      <p>You are almost done, please select the product in next screen</p>
      <button type="button" id="continue-to-next-form">Continue</button>
    </section>
    <!-- / End Thank You -->
  </form>
  <!-- / End Progress Form -->
</div>
<!-- partial -->

<script type="text/javascript">
  console.log('Medical form loaded!');
  const continueToNextForm = document.getElementById('continue-to-next-form');
  continueToNextForm.addEventListener('click', (e) => {
    window.location.href = '/products/erectile-dysfunction';
  });
</script>
